<section class="cta__area fix">
  <div class="container">
    <div class="row align-items-end justify-content-center">
      <div class="col-lg-7">
        <div class="cta__content">
          <h2 class="title">
            Pets are not just animals, they are a part of your family
          </h2>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse We
            understand that your furry friend is a treasured member.
          </p>
          <a routerLink="/about" class="btn">Read More</a>
          <div class="shape">
            <img
              src="assets/img/images/cta_shape01.png"
              alt="Shape"
              data-aos="fade-up-right"
              data-aos-delay="400"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-8">
        <div class="cta__img">
          <img src="assets/img/images/cta_img.png" alt="CTA Image" />
          <div class="cta__img-shape">
            <img
              src="assets/img/images/cta_shape02.png"
              alt="Shape"
              data-aos="fade-down-left"
              data-aos-delay="400"
            />
            <img
              src="assets/img/images/cta_shape03.png"
              alt="Shape"
              data-aos="fade-up"
              data-aos-delay="800"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
