<footer class="footer__area">
  <div class="footer__top footer__top-three fix">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer__widget">
            <div class="footer__logo">
              <a routerLink="/"
                ><img src="assets/img/logo/w_logo.png" alt="Logo"
              /></a>
            </div>
            <div class="footer__content">
              <p>
                Duis aute irure dolor in repreerit in voluptate velitesse We
                understand that your furry friend tred member
              </p>
            </div>
            <div class="footer__social">
              <ul class="list-wrap">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Add more footer columns as needed -->
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="copyright__text">
            <p>Copyright © {{ currentYear }}. All Rights Reserved.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer__bottom-menu">
            <ul class="list-wrap">
              <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
              <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
