<header id="sticky-header" class="tg-header__area tg-header__area-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tgmenu__wrap">
          <nav class="tgmenu__nav">
            <div class="logo">
              <a routerLink="/"
                ><img src="assets/img/logo/w_logo.png" alt="Logo"
              /></a>
            </div>
            <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-xl-flex">
              <ul class="navigation">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/pets">Pets</a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <li><a routerLink="/contact">Contact</a></li>
              </ul>
            </div>
            <div class="tgmenu__action d-none d-md-block">
              <ul class="list-wrap">
                <li class="search">
                  <a href="javascript:void(0)" class="search-open-btn"
                    ><i class="fas fa-search"></i
                  ></a>
                </li>
                <li class="header-btn">
                  <a routerLink="/contact" class="btn">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
