<main>
  <!-- Banner Section -->
  <section
    class="banner__area-three banner__bg-three"
    style="background-image: url(assets/img/banner/h3_banner_bg.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-10">
          <div class="banner__content-three">
            <span class="sub-title" data-aos="fade-up"
              >Find your new pet from our animal shelters.</span
            >
            <h2 class="title" data-aos="fade-up" data-aos-delay="400">
              Adopt Your Pretty
              <img src="assets/img/banner/h3_banner_title_img.png" alt="img" />
              Friend
            </h2>
            <!-- Add more banner content -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Include other sections like About, Pets, Discover, etc. -->
  <app-about></app-about>
  <app-pets></app-pets>
  <app-discover></app-discover>
  <app-cta></app-cta>
  <app-testimonials></app-testimonials>
  <app-blog></app-blog>
</main>
